* {
  box-sizing: border-box;
}
body {
  background: #efefef;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
header, main, footer {
  width: 960px;
  margin: 0 auto;
}
h1, h2 {
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
img {
  max-width: 100%;
}
ul {
  margin-top: 20px;
  
}
ul li {
  margin-bottom: 5px;
}
#images {
  margin-top: 20px;
  background-color: lightgray;
  padding: 20px;
}
.img-wrapper {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  width: calc(33% - 5px);
}
.img-wrapper:last-of-type {
  margin-right: 0;
}
.img-wrapper img {
  max-height: 250px;
  vertical-align: middle;
}